.blog-items {
  padding: 75px 15px;
  background-color: white;
}

.blog-items h1 {
  font-weight: 700;
}

.inner-wrapper {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 60px;
}

.blog-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

