@import url('https://fonts.googleapis.com/css?family=Spectral:500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600i');

a {
margin: 20px 30px 0px 0px;
font-family: "Spectral", serif;
color: palevioletred;
text-decoration: none;
}

body {
font-size: 16px;
line-height: 1.5;
color: #002F2F;
font-family: "Raleway", sans-serif;
}

li {
font-style: italic;
}

ol {
font-weight: bold;
}

body {
  background: #e7e0c2;
}

h1 {
font-size: 26px;
color: #786d76;
text-transform: uppercase;
text-decoration: underline;
text-align: center;
letter-spacing: 2px;
font-family: "Spectral", serif;
margin-top: 90px;
}

h2 {
font-size: 24px;
color: #046380;
text-align: center;
font-family: "Spectral", serif;
}

h3 {
font-size: 22px;
color: #046380;
text-align: center;
font-family: "Spectral", serif;
}


.App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}

.App-header {
background-color: #222;
height: 150px;
padding: 20px;
color: white;
}

.App-intro {
font-size: large;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

p{
  font-size: 20px;
  text-align: center;
  /* border: 1px solid palevioletred; */
  margin: 30px;
  
}

li{
  font-size: 20px;
  text-align: center;
  list-style: none;

}

.nav{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  
}

.form-signup{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 100px;
  border: 1px solid palevioletred;
  padding: 20px;
  
}

.submit-btn{
  margin-top: 20px;
  
}


#input{
  border-radius: 5px;
  border: 1px solid palevioletred;

}

