.App {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

h1 {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:crimson;
}

nav {
  width: 100%;
  height: 40px;
  background-color:crimson;
  overflow: auto;
}

.navbar {
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 10%; /* Four equal-width links. If you have two links, use 50%, and 33.33% fhree links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

.navbar:hover {
  background-color: rgb(116, 92, 151);
}


.info {
  float: left;
  background:  rgb(225, 209, 244);
  color: rgb(116, 92, 151);
 
  font-size: 16px;
  width: 100%; /* Four equal-width links. If you have two links, use 50%, and 33.33% fhree links, etc.. */
  text-align: center; /* If you want the text to be centered */

}

.info li {
  background:  rgb(239, 230, 250);
  list-style-type: none;
  color:  rgb(116, 92, 151);
  margin: 5px;
  padding: 5px;
 
}