.App {
  font-size: 16px;
  line-height: 1.5;
  color: #002F2F;
  font-family: "Raleway", sans-serif;
  }

nav {
  background-color: lightgrey;
  overflow: hidden;
  font-family: consolas;
  align-items: center;
  padding: 14px 16px;
}
nav a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: center;
  color: teal;
  margin-left: auto;
  margin-right: auto;
}@import url('https://fonts.googleapis.com/css?family=Spectral:500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600i');

a {
margin: 20px 30px 0px 0px;
font-family: "Spectral", serif;
color: blue;
}

body {
font-size: 16px;
line-height: 1.5;
color: #002F2F;
font-family: "Raleway", sans-serif;
}

li {
font-style: italic;
}

ol {
font-weight: bold;
}

body {
background: #EFECCA;
}

h1 {
font-size: 26px;
color: #046380;
text-transform: uppercase;
text-decoration: underline;
text-align: center;
letter-spacing: 2px;
font-family: "Spectral", serif;
}

h2 {
font-size: 24px;
color: #046380;
text-align: center;
font-family: "Spectral", serif;
}

h3 {
font-size: 22px;
color: #046380;
text-align: center;
font-family: "Spectral", serif;
}


.App {
text-align: center;
}

.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}

.App-header {
background-color: #222;
height: 150px;
padding: 20px;
color: white;
}

.App-intro {
font-size: large;
}

@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}

h1{
  color: dimgray;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.favfood{
  height: 10%;
  width:80%;
}

.homepage{
  height: 30%;
  width:30%;
}

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}