<%- include('../partials/headerTweet') %>

<section id="show-page">
  <div>Name: </div>
  <div><%= tweet.name %></div>
  <div>Description</div>
  <div><%= tweet.description %></div>
</section>
  
<%- include('../partials/footer') %>
